<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <meta charset="UTF-8">

    <link rel="Stylesheet" href="CSS/styleSheet.css">

    <title>Patrick Portfolio</title>
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand">
                <img src="C:\Users\Patrick Mean\Pictures\todo.PNG" alt="Portfolio" width="30" height="24">
              </a>
              
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="mysites/index.html">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sites
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="mysites/ctPage.html">Coffee Site</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="https://www.linkedin.com/in/patrick-mean-72947818b/">LinkedIn</a></li>
                    </ul>
                  </li>
                </ul>
            </div>
          </nav>
          <!-- End Nav Bar -->

        <div class="gridContainer">
            <div class="dropDown">
                <button class="dropButton">Who am I?</button>
                    <div class="dropDown-items">
                        <a href="file:///C:/Program%20Files/Git/CoffeeSite/Coffee-Site/Site/myStory.html">My Story</a>
                        <a href="file:///C:/Program%20Files/Git/CoffeeSite/Coffee-Site/Site/ctPage.html">Coffee</a>
                    </div>
            </div> 

            <div class="fade-in-title center-style gridTitle">
                <h1>Welcome to my Portfolio!</h1>
            </div>

            <p class="gridFooter center-style">
                Test test test
            </p>
        </div>
    </body>
</html>
